.App{
  max-height: 100vh;
  width: 100%;
  overflow-y: hidden;
  background-color: #474747;
  }
  .main{
  display: flex;
  height: calc(100vh - 50px);
  }
  .left-container{
  position: relative;
  flex: 60%;
  height: calc(100vh - 50px);
  }
  .right-container{
  flex: 40%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  background-color: #242424;
  border-left: 3px solid #ec17c8;
  padding: 5px;
  }
  .input-box{
  flex: 50%;
  }
  .input-box textarea{
  font-size: 16px;
  }
  .input-box p{
    color: #18cf55;
  }
  .spinner-box{
  flex: 50%;
  background-color: #242424;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .spinner-box img{
  width: 200px;
  }
  .output-box{
  flex: 50%;
  background-color: #242424;
  overflow-y: auto;
  color: white;
  position: relative;
  }
  .clear-btn{
  position:fixed;
  bottom: 14px;
  right: 18px;
  width: 80px;
  height: 40px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  background-color: #e61fd5;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
  }
  .clear-btn:hover{
    background-color: #ec1b1b; /* Green */
  color: white;
  }
  .output-box pre{
  font-size: 15px;
  white-space: pre-wrap;
  }
  h4{
  color: #ee7e23;
  }
  #code-inp{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  resize: none;
  background-color: #242424;
  color: whitesmoke;
  padding: 5px;
  }
  #code-inp:focus{
  outline: none;
  }
  .run-btn{
  position: absolute;
  bottom: 10px;
  right: 18px;
  width: 80px;
  height: 40px;
  font-size: 22px;
  font-weight: bold;
  background-color: #b80eec;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
  }
  .run-btn:hover{
    background-color: #ec1b1b; /* Green */
  color: white;
  }
  .run-btn:active{
  background-color: #6e9427;
  }
  #filename {
    width: 150px;
    border: 2px solid #b80eec;
    border-radius: 2px;
    background-color: transparent;
    color: #b9bbbe;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    display: inline-block;
  }
  .file-container {
    display: flex;
    align-items: center;
  }
  #Download {
    background-color: #b80eec;
    color: #fff;
    font-size: 20px;
    height: 50px;
    border: none;
    border-radius: 2px;
    width: 150px;
    cursor: pointer;
    display: inline-block;
  }
  
  #Download:hover{
    background-color: #ec1b1b; /* Green */
  color: white;
  }